---
---

@import "minima";

@font-face {
  font-family: UncialAntiqua;
  src: url(/assets/UncialAntiqua-Regular.otf);
}

body {
  font-family: UncialAntiqua;
}

.pagination {
  font-size: 2rem;
  margin-bottom: 2rem;
}
